body {
    background-color: antiquewhite;
}
#form {
    background-color: grey;
    
}
.nr {
    color: yellow;
}
.br {
    color: red;
}

.cn {
    color:#C19A6B;
}
.em {
    color: deepskyblue;
}
p {
    background-color: lightblue;
    color: red;
    width: 1000px;
    height: auto;
    box-shadow: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#submit {
    display: flex;
    text-align: center;
    justify-content: center;
}