body {
    background-color: antiquewhite;
}
#form {
    background-color: gray;
    
}
.nr {
    color: yellow;
}
.br {
    color: red;
}

.cn {
    color:#3A2910;
}
.em {
    color: deepskyblue;
}
p {
    background-color: lightblue;
    color: red;
    width: 1000px;
    height: auto;
    box-shadow: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}